@if (Request.IsAuthenticated)
{
    string controller = ViewBag.ControllerActive;
    string action = ViewBag.ActionActive;


    if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "15") // CONSULTA
    {
        <ul class="nav navbar-nav">
            @*@Html.MenuItem("Inicio", "Index", "Inicio", action, controller)*@
            @*Menú para el rol Administrador*@

            @*@Html.MenuItem("Validaciones", "Index", "General/EnviosRecibidos", action, controller)*@

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoja de Trámite<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Consulta General", "Consultar_HT_General", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Mis HT", "Consultar_mis_HT", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Documentos Oficina", "Consultar_Documentos_x_oficina", "HojaTramite", action, controller)
                    @Html.MenuItem("Estados HT por Pedido", "Lista_Hojas_Tramite_x_pedido", "HojaTramite", action, controller)

                    @* Add by HM - 27/11/2019 *@
                    @Html.MenuItem("Consulta Documentos Externos", "Consulta_Documentos_emitidos_Externos", "Habilitaciones", action, controller)

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Pendientes", "Imprimir_cuadro_pendientes", "HojaTramite", action, controller)
                </ul>
            </li>

            @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[32].Trim() == "1")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Consulta Seguimiento", "Consulta_seguimiento_habilitaciones", "Habilitaciones", action, controller)

                    </ul>
                </li>
            }

        </ul>
    }

    if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "20") // USUARIO
    {
        <ul class="nav navbar-nav">
            @*@Html.MenuItem("Inicio", "Index", "Inicio", action, controller)*@
            @*Menú para el rol Administrador*@

            @*@Html.MenuItem("Validaciones", "Index", "General/EnviosRecibidos", action, controller)*@

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoja de Trámite<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Registrar Hoja de Trámite", "Nuevo_Externo", "HojaTramite", action, controller)
                    @Html.MenuItem("Consulta General", "Consultar_HT_General", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Mis HT", "Consultar_mis_HT", "HojaTramite", action, controller)
                    @Html.MenuItem("Estados HT por Pedido", "Lista_Hojas_Tramite_x_pedido", "HojaTramite", action, controller)

                    @* Add by HM - 27/11/2019 *@
                    @Html.MenuItem("Consulta Documentos Externos", "Consulta_Documentos_emitidos_Externos", "Habilitaciones", action, controller)
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimiento<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("General", "Por_Recibir_Ht", "HojaTramite", action, controller)
                    @Html.MenuItem("Archivados y Atendidos", "Recibidos_Archivados_Atendidos", "HojaTramite", action, controller)
                </ul>
            </li>
            @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[32].Trim() == "1")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Consulta Seguimiento", "Consulta_seguimiento_habilitaciones", "Habilitaciones", action, controller)

                    </ul>
                </li>
            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "66" || User.Identity.Name.Split('|')[4].Trim() == "67" || User.Identity.Name.Split('|')[4].Trim() == "68" || User.Identity.Name.Split('|')[4].Trim() == "69" ||
            User.Identity.Name.Split('|')[4].Trim() == "70" || User.Identity.Name.Split('|')[4].Trim() == "71" || User.Identity.Name.Split('|')[4].Trim() == "72" || User.Identity.Name.Split('|')[4].Trim() == "73" ||
            User.Identity.Name.Split('|')[4].Trim() == "74" || User.Identity.Name.Split('|')[4].Trim() == "75" || User.Identity.Name.Split('|')[4].Trim() == "377" || User.Identity.Name.Split('|')[4].Trim() == "386" ||
            User.Identity.Name.Split('|')[4].Trim() == "1303" || User.Identity.Name.Split('|')[4].Trim() == "1325")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento_x_registro_OD", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Enviados", "Documentos_enviados_registrado_x_OD", "Habilitaciones", action, controller)
                        @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[30].Trim() == "1")
                        {
                            @Html.MenuItem("Consulta Solicitud de Supervision para responsables OD", "Consulta_Solicitud_Inspeccion_OD", "Inspeccion", action, controller)
                        }
                        @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[31].Trim() == "1")
                        {
                            @Html.MenuItem("Consulta Solicitud de Supervision para inspectores", "c_solicitud_inspeccion_x_inspector_od", "Inspeccion", action, controller)
                        }
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)

                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "18")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Consulta Seguimiento", "Consulta_seguimiento_asitente", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Por Recibir", "Documentos_por_recibir_sdhpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Asignar Evaluador", "Doc_Asignar_Evaluador", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta solicitudes", "consulta_Solicitudes_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta Protocolos", "Listado_protocolos", "Habilitaciones", action, controller)

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publicar<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("publicar protocolos", "publicar_protocolos", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "28")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Enviados", "Documentos_enviados", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Pendientes OD", "Consulta_Documentos_OD_Por_Recibir", "Habilitaciones", action, controller)
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "19" || User.Identity.Name.Split('|')[4].Trim() == "66" || User.Identity.Name.Split('|')[4].Trim() == "67" || User.Identity.Name.Split('|')[4].Trim() == "68" || User.Identity.Name.Split('|')[4].Trim() == "69" ||
            User.Identity.Name.Split('|')[4].Trim() == "70" || User.Identity.Name.Split('|')[4].Trim() == "71" || User.Identity.Name.Split('|')[4].Trim() == "72" || User.Identity.Name.Split('|')[4].Trim() == "73" ||
            User.Identity.Name.Split('|')[4].Trim() == "74" || User.Identity.Name.Split('|')[4].Trim() == "75" || User.Identity.Name.Split('|')[4].Trim() == "377" || User.Identity.Name.Split('|')[4].Trim() == "386" ||
            User.Identity.Name.Split('|')[4].Trim() == "1303" || User.Identity.Name.Split('|')[4].Trim() == "1325")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Comprobantes", "Consulta_factura", "General", action, controller)
                        @Html.MenuItem("Operaciones", "Consulta_Operaciones", "General", action, controller)
                        @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                        {
                            @Html.MenuItem("Carga Masiva Operacion", "Movimiento_operacion_exportacion", "General", action, controller)
                        }
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "15" || User.Identity.Name.Split('|')[4].Trim() == "52")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento_x_registro_OD", "Habilitaciones", action, controller)
                    </ul>
                </li>
            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "17" || User.Identity.Name.Split('|')[4].Trim() == "7" || User.Identity.Name.Split('|')[4].Trim() == "28")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dir. Hab. y Cert. PyA<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                    </ul>
                </li>
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Pendientes", "Imprimir_cuadro_pendientes", "HojaTramite", action, controller)
                    @Html.MenuItem("Pendientes por persona", "Imprimir_Pendientes_x_persona", "HojaTramite", action, controller)
                    @Html.MenuItem("Reporte Usuario", "Imprimir_reporte_usuario", "HojaTramite", action, controller)
                    @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                    {
                        @Html.MenuItem("Serie 1", "Consulta_comprobantes_x_mes", "General", action, controller)
                    }
                </ul>
            </li>

        </ul>
    }

    if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "8") // ASISTENTE ADMINISTRATIVO
    {

        <ul class="nav navbar-nav">
            @*@Html.MenuItem("Inicio", "Index", "Inicio", action, controller)*@
            @*Menú para el rol Administrador*@

            @*@Html.MenuItem("Validaciones", "Index", "General/EnviosRecibidos", action, controller)*@

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoja de Trámite<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Registrar Hoja de Trámite", "Nuevo_Externo", "HojaTramite", action, controller)
                    @Html.MenuItem("Consulta General", "Consultar_HT_General", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Mis HT", "Consultar_mis_HT", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Mis Documentos Finalizados", "Consultar_mis_Finalizados", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Documentos Oficina", "Consultar_Documentos_x_oficina", "HojaTramite", action, controller)
                    @Html.MenuItem("Estados HT por Pedido", "Lista_Hojas_Tramite_x_pedido", "HojaTramite", action, controller)

                    @* Add by HM - 27/11/2019 *@
                    @Html.MenuItem("Consulta Documentos Externos", "Consulta_Documentos_emitidos_Externos", "Habilitaciones", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimiento<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("General", "Por_Recibir_Ht", "HojaTramite", action, controller)
                    @Html.MenuItem("Archivados y Atendidos", "Recibidos_Archivados_Atendidos", "HojaTramite", action, controller)
                </ul>
            </li>
            @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[32].Trim() == "1")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Consulta Seguimiento", "Consulta_seguimiento_habilitaciones", "Habilitaciones", action, controller)

                    </ul>
                </li>
            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "66" || User.Identity.Name.Split('|')[4].Trim() == "67" || User.Identity.Name.Split('|')[4].Trim() == "68" || User.Identity.Name.Split('|')[4].Trim() == "69" ||
            User.Identity.Name.Split('|')[4].Trim() == "70" || User.Identity.Name.Split('|')[4].Trim() == "71" || User.Identity.Name.Split('|')[4].Trim() == "72" || User.Identity.Name.Split('|')[4].Trim() == "73" ||
            User.Identity.Name.Split('|')[4].Trim() == "74" || User.Identity.Name.Split('|')[4].Trim() == "75" || User.Identity.Name.Split('|')[4].Trim() == "377" || User.Identity.Name.Split('|')[4].Trim() == "386" ||
            User.Identity.Name.Split('|')[4].Trim() == "1303" || User.Identity.Name.Split('|')[4].Trim() == "1325")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento_x_registro_OD", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Enviados", "Documentos_enviados_registrado_x_OD", "Habilitaciones", action, controller)
                        @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[30].Trim() == "1")
                        {
                            @Html.MenuItem("Consulta Solicitud de Supervision para responsables OD", "Consulta_Solicitud_Inspeccion_OD", "Inspeccion", action, controller)
                        }
                        @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[31].Trim() == "1")
                        {
                            @Html.MenuItem("Consulta Solicitud de Supervision para inspectores", "c_solicitud_inspeccion_x_inspector_od", "Inspeccion", action, controller)
                        }
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "18")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Consulta Seguimiento", "Consulta_seguimiento_asitente", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Por Recibir", "Documentos_por_recibir_sdhpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Asignar Evaluador", "Doc_Asignar_Evaluador", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta solicitudes", "consulta_Solicitudes_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta Protocolos", "Listado_protocolos", "Habilitaciones", action, controller)

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publicar<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("publicar protocolos", "publicar_protocolos", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "28")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Enviados", "Documentos_enviados", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Pendientes OD", "Consulta_Documentos_OD_Por_Recibir", "Habilitaciones", action, controller)
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>
            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "19" || User.Identity.Name.Split('|')[4].Trim() == "66" || User.Identity.Name.Split('|')[4].Trim() == "67" || User.Identity.Name.Split('|')[4].Trim() == "68" || User.Identity.Name.Split('|')[4].Trim() == "69" ||
            User.Identity.Name.Split('|')[4].Trim() == "70" || User.Identity.Name.Split('|')[4].Trim() == "71" || User.Identity.Name.Split('|')[4].Trim() == "72" || User.Identity.Name.Split('|')[4].Trim() == "73" ||
            User.Identity.Name.Split('|')[4].Trim() == "74" || User.Identity.Name.Split('|')[4].Trim() == "75" || User.Identity.Name.Split('|')[4].Trim() == "377" || User.Identity.Name.Split('|')[4].Trim() == "386" ||
            User.Identity.Name.Split('|')[4].Trim() == "1303" || User.Identity.Name.Split('|')[4].Trim() == "1325")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Comprobantes", "Consulta_factura", "General", action, controller)
                        @Html.MenuItem("Operaciones", "Consulta_Operaciones", "General", action, controller)
                        @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                        {
                            @Html.MenuItem("Carga Masiva Operacion", "Movimiento_operacion_exportacion", "General", action, controller)
                        }
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "15" || User.Identity.Name.Split('|')[4].Trim() == "52")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento_x_registro_OD", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "17" || User.Identity.Name.Split('|')[4].Trim() == "7" || User.Identity.Name.Split('|')[4].Trim() == "28")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dir. Hab. y Cert. PyA<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Pendientes", "Imprimir_cuadro_pendientes", "HojaTramite", action, controller)
                    @Html.MenuItem("Pendientes por persona", "Imprimir_Pendientes_x_persona", "HojaTramite", action, controller)
                    @Html.MenuItem("Reporte Usuario", "Imprimir_reporte_usuario", "HojaTramite", action, controller)
                    @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                    {
                        @Html.MenuItem("Serie 1", "Consulta_comprobantes_x_mes", "General", action, controller)
                    }
                </ul>
            </li>

        </ul>
    }

    if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "9") // MESA DE PARTES
    {
        <ul class="nav navbar-nav">
            @*@Html.MenuItem("Inicio", "Index", "Inicio", action, controller)*@
            @*Menú para el rol Administrador*@

            @*@Html.MenuItem("Validaciones", "Index", "General/EnviosRecibidos", action, controller)*@

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoja de Trámite<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Registrar Hoja de Trámite", "Nuevo_Externo", "HojaTramite", action, controller)
                    @Html.MenuItem("Agregar a Hoja de Trámite", "Nuevo_Documento_Externo", "HojaTramite", action, controller)
                    @Html.MenuItem("Consulta General", "Consultar_HT_General", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Mis HT", "Consultar_mis_HT", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Documentos Oficina", "Consultar_Documentos_x_oficina", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Mis Documentos Finalizados", "Consultar_mis_Finalizados", "HojaTramite", action, controller)
                    @Html.MenuItem("Estados HT por Pedido", "Lista_Hojas_Tramite_x_pedido", "HojaTramite", action, controller)

                    @* Add by HM - 27/11/2019 *@
                    @Html.MenuItem("Consulta Documentos Externos", "Consulta_Documentos_emitidos_Externos", "Habilitaciones", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimiento<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("General", "Por_Recibir_Ht", "HojaTramite", action, controller)
                    @Html.MenuItem("Archivados y Atendidos", "Recibidos_Archivados_Atendidos", "HojaTramite", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Persona<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("DNI - CE", "Listar_Persona_Natural", "HojaTramite", action, controller)
                    @Html.MenuItem("RUC - Entidad", "Listar_Oficina", "Oficina", action, controller)
                </ul>
            </li>
            @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[32].Trim() == "1")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Consulta Seguimiento", "Consulta_seguimiento_habilitaciones", "Habilitaciones", action, controller)

                    </ul>
                </li>
            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "18")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Consulta Seguimiento", "Consulta_seguimiento_asitente", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Por Recibir", "Documentos_por_recibir_sdhpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Asignar Evaluador", "Doc_Asignar_Evaluador", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta solicitudes", "consulta_Solicitudes_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta Protocolos", "Listado_protocolos", "Habilitaciones", action, controller)
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publicar<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("publicar protocolos", "publicar_protocolos", "Habilitaciones", action, controller)
                    </ul>
                </li>
            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "19")
            {

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Comprobantes", "Consulta_factura", "General", action, controller)
                        @Html.MenuItem("Operaciones", "Consulta_Operaciones", "General", action, controller)
                        @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                        {
                            @Html.MenuItem("Carga Masiva Operacion", "Movimiento_operacion_exportacion", "General", action, controller)
                        }
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "28")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Enviados", "Documentos_enviados", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Pendientes OD", "Consulta_Documentos_OD_Por_Recibir", "Habilitaciones", action, controller)
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "15" || User.Identity.Name.Split('|')[4].Trim() == "52")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento_x_registro_OD", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }

            @if (User.Identity.Name.Split('|')[4].Trim() == "66" || User.Identity.Name.Split('|')[4].Trim() == "67" || User.Identity.Name.Split('|')[4].Trim() == "68" || User.Identity.Name.Split('|')[4].Trim() == "69" ||
            User.Identity.Name.Split('|')[4].Trim() == "70" || User.Identity.Name.Split('|')[4].Trim() == "71" || User.Identity.Name.Split('|')[4].Trim() == "72" || User.Identity.Name.Split('|')[4].Trim() == "73" ||
            User.Identity.Name.Split('|')[4].Trim() == "74" || User.Identity.Name.Split('|')[4].Trim() == "75" || User.Identity.Name.Split('|')[4].Trim() == "377" || User.Identity.Name.Split('|')[4].Trim() == "386" ||
            User.Identity.Name.Split('|')[4].Trim() == "1303" || User.Identity.Name.Split('|')[4].Trim() == "1325")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Seguimiento", "Consulta_seguimiento_x_registro_OD", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos Enviados", "Documentos_enviados_registrado_x_OD", "Habilitaciones", action, controller)
                        @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[30].Trim() == "1")
                        {
                            @Html.MenuItem("Consulta Solicitud de Supervision para responsables OD", "Consulta_Solicitud_Inspeccion_OD", "Inspeccion", action, controller)
                        }
                        @if (User.Identity.Name.Split('|')[9].ToString().Split(',')[31].Trim() == "1")
                        {
                            @Html.MenuItem("Consulta Solicitud de Supervision para inspectores", "c_solicitud_inspeccion_x_inspector_od", "Inspeccion", action, controller)
                        }
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Comprobantes", "Consulta_factura", "General", action, controller)
                        @Html.MenuItem("Operaciones", "Consulta_Operaciones", "General", action, controller)
                        @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "17" || User.Identity.Name.Split('|')[4].Trim() == "7" || User.Identity.Name.Split('|')[4].Trim() == "28")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dir. Hab. y Cert. PyA<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                    </ul>
                </li>

            }

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Pendientes", "Imprimir_cuadro_pendientes", "HojaTramite", action, controller)
                    @Html.MenuItem("Pendientes por persona", "Imprimir_Pendientes_x_persona", "HojaTramite", action, controller)
                    @Html.MenuItem("Reporte Usuario", "Imprimir_reporte_usuario", "HojaTramite", action, controller)
                    @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                    {
                        @Html.MenuItem("Serie 1", "Consulta_comprobantes_x_mes", "General", action, controller)
                    }
                </ul>
            </li>
        </ul>
    }

    if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "16") // ADMINISTRADOR
    {
        <ul class="nav navbar-nav">
            @*@Html.MenuItem("Inicio", "Index", "Inicio", action, controller)*@
            @*Menú para el rol Administrador*@

            @*@Html.MenuItem("Validaciones", "Index", "General/EnviosRecibidos", action, controller)*@

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoja de Trámite<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Registrar Hoja de Trámite", "Nuevo_Externo", "HojaTramite", action, controller)
                    @Html.MenuItem("Agregar a Hoja de Trámite", "Nuevo_Documento_Externo", "HojaTramite", action, controller)
                    @Html.MenuItem("Consulta General", "Consultar_HT_General", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Mis HT", "Consultar_mis_HT", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Documentos Oficina", "Consultar_Documentos_x_oficina", "HojaTramite", action, controller)
                    @Html.MenuItem("Estados HT por Pedido", "Lista_Hojas_Tramite_x_pedido", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Archivo", "Consultar_mis_Archivados", "HojaTramite", action, controller)
                    @Html.MenuItem("Consultar Atendidos", "Consultar_mis_Atendidos", "HojaTramite", action, controller)
                    @Html.MenuItem("Consulta Protocolos", "Listado_protocolos", "Habilitaciones", action, controller)

                    @* Add by HM - 27/11/2019 *@
                    @Html.MenuItem("Consulta Documentos Externos", "Consulta_Documentos_emitidos_Externos", "Habilitaciones", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimiento<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("General", "Por_Recibir_Ht", "HojaTramite", action, controller)
                    @Html.MenuItem("Archivados y Atendidos", "Recibidos_Archivados_Atendidos", "HojaTramite", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Persona<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("DNI - CE", "Listar_Persona_Natural", "HojaTramite", action, controller)
                    @Html.MenuItem("RUC - Entidad", "Listar_Oficina", "Oficina", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@
                    @Html.MenuItem("Seguimiento", "Consulta_seguimiento", "Habilitaciones", action, controller)
                    @Html.MenuItem("Consulta Seguimiento Habilitaciones", "Consulta_seguimiento_habilitaciones", "Habilitaciones", action, controller)
                    @Html.MenuItem("Documentos enviados por OTD", "Documentos_enviados", "Habilitaciones", action, controller)
                    @Html.MenuItem("Documentos Por Recibir en Hab.", "Documentos_por_recibir_sdhpa", "Habilitaciones", action, controller)
                    @Html.MenuItem("Asignar Evaluador", "Doc_Asignar_Evaluador", "Habilitaciones", action, controller)
                    @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                    @Html.MenuItem("Consulta solicitudes", "consulta_Solicitudes_dhcpa", "Habilitaciones", action, controller)
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @*@Html.MenuItem("Imprimir HT (Nueva - Historial)", "Imprimir_HT", "HojaTramite", action, controller)*@

                    @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                    @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                    @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                    @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                    @Html.MenuItem("Expediente", "Consulta_expediente", "General", action, controller)
                    @if (User.Identity.Name.Split('|')[4].Trim() == "19" || User.Identity.Name.Split('|')[4].Trim() == "66" || User.Identity.Name.Split('|')[4].Trim() == "67" || User.Identity.Name.Split('|')[4].Trim() == "68" || User.Identity.Name.Split('|')[4].Trim() == "69" ||
            User.Identity.Name.Split('|')[4].Trim() == "70" || User.Identity.Name.Split('|')[4].Trim() == "71" || User.Identity.Name.Split('|')[4].Trim() == "72" || User.Identity.Name.Split('|')[4].Trim() == "73" ||
            User.Identity.Name.Split('|')[4].Trim() == "74" || User.Identity.Name.Split('|')[4].Trim() == "75" || User.Identity.Name.Split('|')[4].Trim() == "377" || User.Identity.Name.Split('|')[4].Trim() == "386" ||
            User.Identity.Name.Split('|')[4].Trim() == "1303" || User.Identity.Name.Split('|')[4].Trim() == "1325")
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @Html.MenuItem("Comprobantes", "Consulta_factura", "General", action, controller)
                                @Html.MenuItem("Operaciones", "Consulta_Operaciones", "General", action, controller)
                                @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                                {
                                    @Html.MenuItem("Carga Masiva Operacion", "Movimiento_operacion_exportacion", "General", action, controller)
                                }
                            </ul>
                        </li>

                    }
                    @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                    @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)

                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Certificaciones<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publicar<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("publicar protocolos", "publicar_protocolos", "Habilitaciones", action, controller)
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Html.MenuItem("Pendientes", "Imprimir_cuadro_pendientes", "HojaTramite", action, controller)
                    @Html.MenuItem("Pendientes por persona", "Imprimir_Pendientes_x_persona", "HojaTramite", action, controller)
                    @Html.MenuItem("Reporte Usuario", "Imprimir_reporte_usuario", "HojaTramite", action, controller)
                    @if (User.Identity.Name.Split('|')[4].Trim() == "19")
                    {
                        @Html.MenuItem("Serie 1", "Consulta_comprobantes_x_mes", "General", action, controller)
                    }

                </ul>
            </li>
        </ul>
    }

    if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "18") // EVALUADOR
    {

        <ul class="nav navbar-nav">

            @if (User.Identity.Name.Split('|')[4].Trim() == "18")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoja de Trámite<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Registrar Hoja de Trámite", "Nuevo_Externo", "HojaTramite", action, controller)
                        @Html.MenuItem("Consulta General", "Consultar_HT_General", "HojaTramite", action, controller)
                        @Html.MenuItem("Consultar Mis HT", "Consultar_mis_HT", "HojaTramite", action, controller)
                        @Html.MenuItem("Estados HT por Pedido", "Lista_Hojas_Tramite_x_pedido", "HojaTramite", action, controller)

                        @* Add by HM - 27/11/2019 *@
                        @Html.MenuItem("Consulta Documentos Externos", "Consulta_Documentos_emitidos_Externos", "Habilitaciones", action, controller)
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("General", "Por_Recibir_Ht", "HojaTramite", action, controller)
                        @Html.MenuItem("Archivados y Atendidos", "Recibidos_Archivados_Atendidos", "HojaTramite", action, controller)
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habilitaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Documentos por recibir", "Documentos_por_recibir_x_evaluador", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta seguimiento", "Consulta_seguimiento_evaluador", "Habilitaciones", action, controller)
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta solicitudes", "consulta_Solicitudes_dhcpa", "Habilitaciones", action, controller)
                        @Html.MenuItem("Consulta Protocolos", "Listado_protocolos", "Habilitaciones", action, controller)
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimiento<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Almacén", "Consulta_almacen", "General", action, controller)
                        @Html.MenuItem("Concesiones", "Consulta_concesion", "General", action, controller)
                        @Html.MenuItem("Embarcacion", "Consulta_embarcacion", "General", action, controller)
                        @Html.MenuItem("Desembarcaderos", "Consulta_desembarcadero", "General", action, controller)
                        @Html.MenuItem("Planta", "Consulta_planta", "General", action, controller)
                        @Html.MenuItem("Transporte", "Listado_transportes_hab", "Habilitaciones", action, controller)
                    </ul>
                </li>
            }
            @if (User.Identity.Name.Split('|')[4].Trim() == "17" || User.Identity.Name.Split('|')[4].Trim() == "7")
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dir. Hab. y Cert. PyA<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @Html.MenuItem("Documentos DHCPA", "Consulta_Documentos_emitidos_dhcpa", "Habilitaciones", action, controller)
                    </ul>
                </li>
            }
        </ul>

    }


    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @*@Html.MenuItem("Packing List - Evaluación", "IndexAprobar", "PackingList", action, controller)*@
                @Html.MenuItem("Cambiar Contraseña", "Modificar_Clave", "Account", action, controller)
                @Html.MenuItem("Cerrar sesión", "Logout", "Account", action, controller)
            </ul>
        </li>
    </ul>
}
<script>
    $("li.active").parents('ul').parent('li').addClass('active');
</script>