@model SIGESDOC.Web.Models.ProtocoloViewModel

@{
    ViewBag.Title = "Nuevo Protocolo";
}

<div class="bottom hidden"></div>
<div id="mensajes"></div>

<ol class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="#">Habilitaciones</a></li>
    <li class="active">Nuevo Protocolo</li>
</ol>

<div class="bs-callout bs-callout-info">
    <h4>Registrar Nuevo Protocolo</h4>
    <p>Use el siguiente formulario para registrar un nuevo protocolo</p>
    <hr />
    <h4>Expediente: @Html.Label("", (string)ViewBag.Str_Expediente) </h4>
    <h4>Empresa: @Html.Label("", (string)ViewBag.Str_Empresa) </h4>

</div>

<div class="modal fade" id="mdlpersona_legal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Persona Legal</h4>
            </div>
            <div id="mensajes_persona_legal"></div>
            <form method="post" id="formpersonalegal">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div>
                            <label id="lbl_carga_data_persona_legal">  </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Documento</label>
                            <div class="col-md-2">
                                @Html.TextBox("txt_persona_legal_documento", null, new { @class = "form-control input-sm", @maxlength = "20", @onkeypress = "return IsNumeric_vista(this.value);", @onkeyup = "return Valida_back_vista_legal(this.value);" })
                            </div>
                            <label id="lbl_valida_persona_legal" style="text-align:left;" class="control-label col-md-6"></label>
                            <label id="lbl_valida_persona_legal_x" style="color: #B44D4D">  </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Telefono</label>
                            <div class="col-md-2">
                                @Html.TextBox("txt_persona_legal_telefono", null, new { @class = "form-control input-sm", @maxlength = "50" })
                            </div>
                            <label class="control-label col-md-2">Correo</label>
                            <div class="col-md-3">
                                @Html.TextBox("txt_persona_legal_correo", null, new { @class = "form-control input-sm", @maxlength = "50" })
                            </div>
                            <button id="btn_agregar_persona_legal" type="button" class="btn btn-primary btn-sm">
                                Agregar Persona Legal
                            </button>
                        </div>

                        <br />
                        <div id="bus_tbl_persona_legal">
                            <table id="tbl_persona_legal" class="table table-striped table-hover table-condensed tabla small">
                                <thead>
                                    <tr class="cabecera text-center">
                                        <th hidden="hidden">ACTIVO</th>
                                        <th scope="col">DOCUMENTO</th>
                                        <th scope="col">NOMBRES Y APELLIDOS</th>
                                        <th scope="col">TELEFONO</th>
                                        <th scope="col">CORREO</th>
                                        <th scope="col">SELECCIONAR</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@using (Html.BeginForm("Nuevo_Protocolo_licencia_operacion", "Habilitaciones", FormMethod.Post, new { @id = "nuevoForm", @enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <ol class="breadcrumb">
            <li class="active">Información del Protocolo</li>
            @Html.TextBox("agregar_persona_legal", null, new { @class = "form-control input-sm hidden" })
            @Html.TextBox("txt_RUC", (string)ViewBag.var_RUC, new { @class = "form-control input-sm hidden" })
            @Html.TextBox("txt_id_seguimiento", (string)ViewBag.id_seguimiento, new { @class = "form-control input-sm hidden" })
            @Html.TextBox("txt_id_nombre_legal", (string)ViewBag.id_persona_legal, new { @class = "form-control input-sm hidden" })
            @Html.TextBox("txt_id_sede_ext", (string)ViewBag.id_sede_ext, new { @class = "form-control input-sm hidden" })
            @Html.TextBox("txt_ruc_seg", (string)ViewBag.ruc_seg, new { @class = "form-control input-sm hidden" })
            @Html.TextBox("txt_fecha_inicio", null, new { @class = "form-control input-sm hidden" })
            @Html.TextBox("txt_fecha_resolucion", null, new { @class = "form-control input-sm hidden" })

            <div class="form-group">
                @Html.Label("Direccion", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBox("lbl_Direccion_sede", (string)ViewBag.nom_direccion_ext, new { @class = "form-control input-sm", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Persona Legal", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBox("lbl_persona_legal", (string)ViewBag.Str_Persona_Legal, new { @class = "form-control input-sm", @readonly = "readonly" })
                </div>
                <label id="lbl_valida_nombre_legal" style="color: #B44D4D" hidden="hidden">  </label>
                <button id="btn_persona_legal" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#mdlpersona_legal">
                    Persona Legal
                </button>
            </div>
            <div class="form-group">
                @Html.Label("Telefono", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBox("lbl_telefono", (string)ViewBag.Str_Telefono_Legal, new { @class = "form-control input-sm", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Correo", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBox("lbl_Correo", (string)ViewBag.Str_Correo_Legal, new { @class = "form-control input-sm", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Tipo Licencia de Operación", new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.DropDownList("cmb_tipo_licencia_operacion", (IEnumerable<SelectListItem>)ViewBag.lista_tipo_licencia_operacion, new { @class = "form-control input-sm" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Actividad", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBox("txt_actividad", "", new { @class = "form-control input-sm", @onkeypress = "return valida_enter(this.value);", @maxlength = "600" })
                </div>
                <label id="lbl_valida_actividad" style="color: #B44D4D" hidden="hidden">  </label>
            </div>

            <div class="form-group">
                @Html.Label("Nombre del protocolo:", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBox("txt_nombre", "", new { @class = "form-control input-sm", @onkeypress = "return valida_enter(this.value);", @maxlength = "100" })
                </div>
                <label id="lbl_valida_nombre" style="color: #B44D4D">  </label>
            </div>

            <div class="form-group">
                <input type="file" name="file" id="fileUpload" />
            </div>

            <div class="form-group">
                @Html.Label("Nombre de la Resolución", new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBox("txt_resolucion", "", new { @class = "form-control input-sm", @onkeypress = "return valida_enter(this.value);", @maxlength = "150" })
                </div>
                <label id="lbl_valida_resolucion" style="color: #B44D4D" hidden="hidden">  </label>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="dtpFecharesolucion">Fecha Resolución:</label>
                <div class="col-md-2">
                    <div class="input-group date input-group-sm" id="dtpFecharesolucion">
                        <input class="form-control input-sm" id="txtFecharesolucion" type="text" value="">
                        <span class="input-group-addon input-sm add-on">
                            <a href="#">
                                <i class="glyphicon glyphicon-calendar" data-date-icon="glyphicon glyphicon-calendar"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-2 control-label" for="dtpFechainicio">Fecha Inicio:</label>
                <div class="col-md-2">
                    <div class="input-group date input-group-sm" id="dtpFechainicio">
                        <input class="form-control input-sm" id="txtFechainicio" type="text" value="">
                        <span class="input-group-addon input-sm add-on">
                            <a href="#">
                                <i class="glyphicon glyphicon-calendar" data-date-icon="glyphicon glyphicon-calendar"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

        </ol>

        <hr>

        <div class="form-group">
            <div class="col-md-8">
                <input id="btnGrabar" type="submit" value="Guardar" class="btn btn-primary btn-sm" />
                <button type="button" class="btn btn-default btn-sm regresar">Cancelar</button>
            </div>
            <div class="col-md-1">
                <div id="loaderImage" class="hidden"></div>
            </div>
        </div>

    </div>


}

<div class="modal fade" id="mdlConformidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Mensaje</h4>
            </div>
            <div class="modal-body">
                <span id="conformidad"></span>
                <p>Presione aceptar para continuar.</p>
            </div>
            <div class="modal-footer">
                @if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "18")
{
    <button id="btn_aceptar_evaluador" type="button" class="btn btn-primary btn-sm">Aceptar</button>
}
@if (User.Identity.Name.Split('|')[5].ToString().Split(',')[0].Trim() == "8")
{
    <button id="btn_aceptar_asistente" type="button" class="btn btn-primary btn-sm">Aceptar</button>
}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">


    function valida_enter(dato) {
        if (window.event.keyCode == 13) {
            window.event.returnValue = false;
        }
        else {
            window.event.returnValue = true;
        }
    }

    function IsNumeric_vista(dato) {
        var valor = dato.indexOf(".");
        var evento = window.event || dato;
        if ((window.event.keyCode > 47 && window.event.keyCode < 58)) {

            if ($("#txt_persona_legal_documento").val().trim().length >= 7) {
                document.getElementById('lbl_valida_persona_legal').innerHTML = "Cargando...";
                document.getElementById('lbl_valida_persona_legal_x').innerHTML = "";
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("Consultar_DNI_vista"))",
                    data: { "DNI": ($("#txt_persona_legal_documento").val() + String.fromCharCode(evento.charCode)) },

                success: function (data) {
                    $.each(data, function (id, option) {
                        if (option.Value != "NO") {
                            $("#agregar_persona_legal").val("1");
                            document.getElementById('lbl_valida_persona_legal_x').innerHTML = "";
                            document.getElementById('lbl_valida_persona_legal').innerHTML = option.Text;
                        }
                        else {
                            $("#agregar_persona_legal").val("0");
                            document.getElementById('lbl_valida_persona_legal_x').innerHTML = "";
                            document.getElementById('lbl_valida_persona_legal').innerHTML = "";
                        }
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
        }
        window.event.returnValue = true;
    }
    else {
            window.event.returnValue = false;
    }
    }

    function Valida_back_vista_legal(dato) {
        if (window.event.keyCode == 8) {
            if ($("#txt_persona_legal_documento").val().trim().length < 8) {
                $("#agregar_persona_legal").val("0");
                document.getElementById('lbl_valida_persona_legal').innerHTML = "";
            }
        }
    }
    $(document).ready(function () {

        $("#agregar_persona_legal").val("0");
        $("#btn_persona_legal").click(function () {

            $("#mensajes_persona_legal").html('').hide();

            $("#bus_tbl_persona_legal").html('');

            document.getElementById('lbl_carga_data_persona_legal').innerHTML = "Cargando...";

            jQuery("#bus_tbl_persona_legal").append('<table id="tbl_persona_legal" class="table table-striped table-hover table-condensed tabla small" cellspacing="0"> <thead> <tr class="cabecera"> ' +
                '<th hidden="hidden">ACTIVO</th><th scope="col">DOCUMENTO</th><th scope="col">NOMBRES Y APELLIDOS</th><th scope="col">TELEFONO</th><th scope="col">CORREO</th><th scope="col">SELECCIONAR</th></thead> <tbody></tbody> </table>');

            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("LLENAR_PERSONA_LEGAL_X_ENTIDAD"))",
                data: { "RUC": $("#txt_RUC").val() },
            success: function (data) {
                document.getElementById('lbl_carga_data_persona_legal').innerHTML = "";
                $.each(data, function (id, option) {
                    var nuevoTD = '<tr>';
                    nuevoTD += '<td hidden="hidden">' + option.activo + '</td>';
                    nuevoTD += '<td style="text-align:center;">' + option.documento + '</td>';
                    nuevoTD += '<td style="width:100px; text-align:center;">' + option.nombres_y_apellidos + '</td>';
                    nuevoTD += '<td style="width:100px; text-align:center;">' + option.telefono + '</td>';
                    nuevoTD += '<td style="width:100px; text-align:center;">' + option.correo + '</td>';
                    if (option.activo == "0") {
                        nuevoTD += '<td style="text-align:center;" class="seleccionar_persona_legal"> <ul class="list-inline" style="margin-bottom:0"> <li> <a class="seleccionar_persona_legal" href="#" id="' + option.id_persona_legal + '" title="seleccionar"> <i class="glyphicon glyphicon-ok"></i> </a> </li> </ul> </td>';
                    }
                    else {
                        $("#txt_id_nombre_legal").val(option.id_persona_legal);
                        $("#lbl_persona_legal").val(option.nombres_y_apellidos);
                        $("#lbl_telefono").val(option.telefono);
                        $("#lbl_Correo").val(option.correo);
                        nuevoTD += '<td style="text-align:center;"> PERSONA LEGAL ACTUAL</td>';
                    }
                    nuevoTD += '</tr>';

                    jQuery("#tbl_persona_legal").append(nuevoTD);
                });

                $("#tbl_persona_legal").DataTable({
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "order": [[0, "desc"], [2, "asc"]],
                    "info": false,
                    "language": {
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        }
                    }
                });

                $("#tbl_persona_legal thead tr th").eq(1).css({ "width": 30 });
                $("#tbl_persona_legal thead tr th").eq(2).css({ "width": 180 });
                $("#tbl_persona_legal thead tr th").eq(3).css({ "width": 30 });
                $("#tbl_persona_legal thead tr th").eq(4).css({ "width": 30 });
                $("#tbl_persona_legal thead tr th").eq(5).css({ "width": 30 });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states.');
            }
        });
    });

        $("#btn_agregar_persona_legal").click(function () {
            if ($("#agregar_persona_legal").val() == "0") {
                document.getElementById('lbl_valida_persona_legal_x').innerHTML = "Debe ingresar Documento Correcto";
                document.getElementById('lbl_valida_persona_legal').innerHTML = "";
                return false;
            }
            else {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/Oficina/Grabar_Nueva_Persona_Legal",
                    data: {
                        "id_persona_legal": 0,
                        "documento": $("#txt_persona_legal_documento").val(),
                        "telefono": $("#txt_persona_legal_telefono").val(),
                        "correo": $("#txt_persona_legal_correo").val(),
                        "RUC": $("#txt_RUC").val()
                    },
                    success: function (result) {
                        $('.field-validation-error').each(function () {
                            $(this).removeClass("field-validation-error").addClass("field-validation-valid");
                            $(this).html('');
                        });
                        $("#mensajes_persona_legal").html(result);
                        $("#agregar_persona_legal").val("0");
                        $("#txt_persona_legal_documento").val("");
                        $("#txt_persona_legal_telefono").val("");
                        $("#txt_persona_legal_correo").val("");
                        document.getElementById('lbl_valida_persona_legal').innerHTML = "";
                        document.getElementById('lbl_valida_persona_legal_x').innerHTML = "";
                        $("#bus_tbl_persona_legal").html('');

                        $("#mensajes_persona_legal").slideDown(500, function () { });
                        document.getElementById('lbl_carga_data_persona_legal').innerHTML = "Cargando...";

                        setTimeout(function () {
                            $("#btn_persona_legal").click();
                        }, 2000);
                    },
                    error: function (result) {
                        if (result.status == 500) {
                            $("#mensajes_persona_legal").html(result.responseText).hide();
                            $("#mensajes_persona_legal").slideDown(500, function () { });
                        }
                        else if (result.status == 400) {
                            $('.field-validation-error').each(function () {
                                $(this).removeClass("field-validation-error").addClass("field-validation-valid");
                                $(this).html('');
                            });
                            $.each(result.responseJSON.errors, function (key, value) {
                                if (value != null) {
                                    var container = $('span[data-valmsg-for="' + key + '"]');
                                    container.removeClass("field-validation-valid").addClass("field-validation-error");
                                    container.html(value);
                                }
                            });
                            $("#mensajes_persona_legal").html(result.responseJSON.summary).hide();
                            if (result.responseJSON.summary != "") {
                                $("#mensajes_persona_legal").slideDown(500, function () { });
                            }
                        }
                    }
                });
            }
        });

        $(document).on('click', '.seleccionar_persona_legal', function () {

            var id_persona_legal = $(this).attr('id');

            if (id_persona_legal != undefined) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/Oficina/Grabar_Nueva_Persona_Legal",
                    data: {
                        "id_persona_legal": id_persona_legal,
                        "documento": "",
                        "telefono": "",
                        "correo": "",
                        "RUC": $("#txt_RUC").val()
                    },
                    success: function (result) {
                        $('.field-validation-error').each(function () {
                            $(this).removeClass("field-validation-error").addClass("field-validation-valid");
                            $(this).html('');
                        });
                        $("#mensajes_persona_legal").html(result);
                        $("#agregar_persona_legal").val("0");
                        $("#txt_persona_legal_documento").val("");
                        $("#txt_persona_legal_telefono").val("");
                        $("#txt_persona_legal_correo").val("");
                        document.getElementById('lbl_valida_persona_legal').innerHTML = "";
                        document.getElementById('lbl_valida_persona_legal_x').innerHTML = "";

                        $("#mensajes_persona_legal").slideDown(500, function () { });
                        $("#bus_tbl_persona_legal").html('');
                        document.getElementById('lbl_carga_data_persona_legal').innerHTML = "Cargando...";

                        setTimeout(function () {
                            $("#btn_persona_legal").click();
                        }, 2000);
                    },
                    error: function (result) {
                        if (result.status == 500) {
                            $("#mensajes_persona_legal").html(result.responseText).hide();
                            $("#mensajes_persona_legal").slideDown(500, function () { });
                        }
                        else if (result.status == 400) {
                            $('.field-validation-error').each(function () {
                                $(this).removeClass("field-validation-error").addClass("field-validation-valid");
                                $(this).html('');
                            });
                            $.each(result.responseJSON.errors, function (key, value) {
                                if (value != null) {
                                    var container = $('span[data-valmsg-for="' + key + '"]');
                                    container.removeClass("field-validation-valid").addClass("field-validation-error");
                                    container.html(value);
                                }
                            });
                            $("#mensajes_persona_legal").html(result.responseJSON.summary).hide();
                            if (result.responseJSON.summary != "") {
                                $("#mensajes_persona_legal").slideDown(500, function () { });
                            }
                        }
                    }
                });
            }
        });
        document.getElementById('lbl_valida_nombre_legal').innerHTML = "";
        document.getElementById('lbl_valida_resolucion').innerHTML = "";
        $("#lbl_valida_resolucion").attr("hidden", "hidden");
        document.getElementById('lbl_valida_actividad').innerHTML = "";
        $('#lbl_valida_actividad').attr("hidden", "hidden");

        var f = new Date();
        var fechaActual = (f.getDate() < 10 ? "0" + f.getDate() : f.getDate()) + "/" + ((f.getMonth() + 1) < 10 ? "0" + (f.getMonth() + 1) : (f.getMonth() + 1)) + "/" + f.getFullYear();

        $("#txtFechainicio").val(fechaActual);
        $("#txtFecharesolucion").val(fechaActual);

        $(function () {
            $('#dtpFechainicio').datetimepicker({
                pickTime: false,
                format: 'dd/MM/yyyy',
                language: 'es'
            });
            $('#dtpFecharesolucion').datetimepicker({
                pickTime: false,
                format: 'dd/MM/yyyy',
                language: 'es'
            });
        });

        $('#btn_aceptar_evaluador').click(function () {

            setTimeout(function () {
                window.location = '@Url.Action("Consulta_seguimiento_evaluador", "Habilitaciones")';
        }, 300);

    });

    $('#btn_aceptar_asistente').click(function () {

        setTimeout(function () {
            window.location = '@Url.Action("Consulta_seguimiento_asitente", "Habilitaciones")';
        }, 300);

    });

    $('.regresar').click(function () {
        var url = "javascript:history.back(1)";
        window.location.href = url;
    });

    $('#nuevoForm').submit(function (e) {

        e.preventDefault();

        document.getElementById('lbl_valida_nombre').innerHTML = "";
        document.getElementById('lbl_valida_nombre_legal').innerHTML = "";
        document.getElementById('lbl_valida_resolucion').innerHTML = "";
        $('#lbl_valida_resolucion').attr("hidden", "hidden");
        document.getElementById('lbl_valida_actividad').innerHTML = "";
        $('#lbl_valida_actividad').attr("hidden", "hidden");

        $('#btnGrabar').attr("disabled", "disabled");
        $('#lbl_valida_nombre_legal').attr("hidden", "hidden");

        var entra = 0;
        var f = new Date();
        var fechaActual = (f.getDate() < 10 ? "0" + f.getDate() : f.getDate()) + "/" + ((f.getMonth() + 1) < 10 ? "0" + (f.getMonth() + 1) : (f.getMonth() + 1)) + "/" + f.getFullYear();

        if ($("#txtFechainicio").val().trim() == "") {
            $("#txtFechainicio").val(fechaActual);
        }

        if ($("#txtFecharesolucion").val().trim() == "") {
            $("#txtFecharesolucion").val(fechaActual);
        }

        if ($("#txt_nombre").val().trim() == "") {
            document.getElementById('lbl_valida_nombre').innerHTML = "Ingresar nombre";
            entra = 1;
        }

        if ($("#txt_resolucion").val().trim() == "") {
            document.getElementById('lbl_valida_resolucion').innerHTML = "Ingresar Resolución";
            entra = 1;
        }

        if ($("#txt_id_nombre_legal").val() == "") {
            $('#lbl_valida_nombre_legal').removeAttr("hidden", "hidden");
            document.getElementById('lbl_valida_nombre_legal').innerHTML = "Falta Registrar Persona Legal, comunicarse con asistente de la Sub Dirección";
            entra = 1;
        }

        if ($("#txt_actividad").val() == "") {
            $('#lbl_valida_actividad').removeAttr("hidden", "hidden");
            document.getElementById('lbl_valida_actividad').innerHTML = "Ingresar la Actividad";
            entra = 1;
        }

        if (entra == 1) {
            $('#btnGrabar').removeAttr("disabled", "disabled");
            return;
        }

        $("#txt_fecha_inicio").val($("#txtFechainicio").val());
        $("#txt_fecha_resolucion").val($("#txtFecharesolucion").val());

        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            processData: false,
            contentType: false,
            beforeSend: function () {
                $('#loaderImage').removeClass("hidden").addClass("show");
                $('#btnGrabar').attr("disabled", "disabled");
            },
            complete: function () {
                $('#loaderImage').removeClass("show").addClass("hidden");
                $('#btnGrabar').removeAttr("disabled", "disabled");
            },
            success: function (result) {

                $('.field-validation-error').each(function () {
                    $(this).removeClass("field-validation-error").addClass("field-validation-valid");
                    $(this).html('');
                });

                $("#conformidad").html(result)
                $('#mdlConformidad').modal();
            },

            error: function (result) {
                if (result.status == 500) {
                    $("#mensajes").html(result.responseText).hide();
                    $("html, body").animate({ scrollTop: 0 }, '500', 'swing', function () {
                        $("#mensajes").slideDown(500, function () { });
                    });
                }
                else if (result.status == 400) {
                    $('.field-validation-error').each(function () {
                        $(this).removeClass("field-validation-error").addClass("field-validation-valid");
                        $(this).html('');
                    });
                    $.each(result.responseJSON.errors, function (key, value) {
                        if (value != null) {
                            var container = $('span[data-valmsg-for="' + key + '"]');
                            container.removeClass("field-validation-valid").addClass("field-validation-error");
                            container.html(value);
                        }
                    });
                    $("#mensajes").html(result.responseJSON.summary).hide();
                    if (result.responseJSON.summary != "") {
                        $("html, body").animate({ scrollTop: 0 }, '500', 'swing', function () {
                            $("#mensajes").slideDown(500, function () { });
                        });
                    }
                }
            }
        });


    });


    });
</script>